# Copy this file to .env and add your API keys

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# Optional: LangSmith API Key for evaluation and tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT="workflow-rag-agent"

# Optional: Set Hugging Face Hub API Key for faster dataset loading
HF_TOKEN=your_huggingface_api_key_here
